<%= render "articles/menu"%>
<section>
	<h1>Asignar Role</h1>
	<form action="">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt laudantium sint dolorum molestiae esse nostrum beatae tempora aspernatur eaque deleniti neque, unde commodi consequuntur, voluptas? Consequuntur tempore exercitationem, sapiente eum.
	</form>
</section>