@import url(https://fonts.googleapis.com/css?family=Cabin);
@import "bootstrap";
@import "font-awesome";
@import "summernote";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Cabin', sans-serif;
}
table th,td{
	padding:1em;
}
.buttonSubmit{
	background-color: #037E8C;
    border: none;
    -webkit-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Lato,sans-serif;
    font-size: .95em;
    font-weight: 700;
    padding: .7em .8em .8em;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 -.2em darken(#037E8C,20%);
    box-shadow: inset 0 -.2em darken(#037E8C,20%);
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
section{
	padding:1em;
	width:80%;
	position:relative;
	left:0;
	right:0;
	margin:auto;
}
header#headerHome{
	width:100%;
	height:70px;
	background:saturate(#024959,20%);
	position: relative;
	
	.contentHeader{
		width: 80%;
		height: 100%;
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		nav{
			width: auto;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items:center;
			&>ul{
				display: flex;
				list-style: none;
				li{
					margin: 0 2em;
					position:relative;
					height: 100%;
					&:hover ul{
						height: auto;
						transition: all .4s;
					}
					
					a{
						text-decoration: none;
						color: white;
						font-size: 1.8rem;
					}
					 ul{
					 	position:absolute;
					 	height: 0;
					 	z-index: 20;
					 	top:100%;
					 	left: 0;
					 	background:#F24C27;
					 	list-style: none;
					 	margin:0;
					 	padding:0;
					 	overflow: hidden;
					 	box-shadow:1px 1px 5px black;
					 	transition: all .4s;
					 	padding-left:1em;
					 	padding-right:1em;
					 	li{
					 		width: 100%;
					 		margin-bottom: 1em;
					 		padding-left:2px !important;
					 		margin-left: 0 !important;
					 		border-top:1px solid #dadada;
					 		&:first-child{
					 			border:none;
					 			margin-top: 1em;
					 		}
					 	}
					 }
				}
			}	
		}
	}
}
section#articles, section#category{
	
	// display:flex;
	// justify-content:space-between;
	// flex-wrap:wrap;
	article{
		width: 300px;
		height: 200px;
		border:1px solid #dadada;
		box-shadow: 0 8px 6px -6px  #aaa;
		margin-bottom: 2em;
		position:relative;
		display: inline-block;
		margin-right: 4.2em;
		transition: all .3s;
		.contentArticle{
			position:absolute;
			width: 100%;
			height: calc(100% - 50px);
			left: 0;
			top: 50px;
			padding:15px;
	
			overflow:hidden;

			p{
				color: #5F5448;
				letter-spacing: 2px;
				display: block;
				overflow:hidden;
				width: 100%;
				height: 100%;
				max-width: 100%;
			}
			
		}
		.titleArticle{
			position:absolute;
			width: 100%;
			height: 50px;
			left: 0;
			top:  0;
			background:#F24C27;
			padding:10px;
			h1{
				color: white;
				letter-spacing: 2px;
				margin:0;
				font-size: 1.5rem;
				
			}
		}
		&:hover{
			transform: scale(1.2);
		}
		
	}
}

section#article{
	article{
		width: 100%;
		height: auto;
		padding: 1em 5.5em;
		h1{
			font-size: 3em;

		}
		p{
			letter-spacing: 2px;
			font-size: 1.2rem;
			margin-top: 2.5em;
		}
		a{
			color: #F24C27;
		}
	}
}
section#newArticle{
	h1{
		font-size: 3em;

	}
	padding:3em  5.5em;
	.row{
		width: 100%;
		height: auto;
		display: block;
		margin-top: 2em;
		input[type='text']{
			width: 80%;
			height: 40px;
			padding:1em; 
			margin-left: 1em;
		}
		input[type='submit']{
			width: 200px;
				margin-left: 1em;
		}
		.note-editor{
			margin-left: 1em !important;
		}
		.panel-body{
			width: 80%;
			height: 400px;
			padding:1em;
			margin-left: 1em;
		}
	}
}
section#register, section#login{
	position:absolute;
	z-index: 0;
	
	width:100%;
	height:calc(100% - 70px);
	top:70px;
	display:flex;
	justify-content:center;
	align-items:center;
	article{
		margin-top: -10em;
	}
	h1{
		margin-top: 0;
	}
	input[type='email'],input[type='password'],input[type='text']{
		width: 300px;
		margin-bottom: 1em;
	}
}
div.error{
	padding:5px;
	background:darken(red,10%);
	width:200px;
	border-radius:5px;
	color:white;
	margin-top:5px;
}